:root{
    --cor-do-texto: hsl(193, 38%, 86%);
    --cor-botao-texto-top: hsl(150, 100%, 66%);
    --cor-do-card:hsl(217, 19%, 24%);
    --cor-do-fundo:hsl(218, 23%, 16%);
    --font-family: 'Manrope', sans-serif;
}